<h3>Recommended entertainment</h3>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Yacht Follow</h5>
        <p class="card-text">Female visitors' favorite project is yacht follow-up photography. The yacht is sailing on
          the blue sea with fluttering dresses under a blue sky and white clouds. Beautiful photos taken by talented
          photographers are the best recollection of our trip at sea. Aerial photography and video recording are
          available in addition to taking photographs on the yacht. Many of the small videos we shot on the yacht went
          viral, and many people became well-known Internet celebrities as a result of their trip to sea.</p>
        <a href="/graphic" class="btn btn-primary">Go for the photo</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Yacht party</h5>
        <p class="card-text">Many people enjoy getting together on a yacht as a means of entertainment. Yacht parties
          are, of course, necessary in addition to beer, champagne, and wine. There are hundreds of attractive men and
          women employed as yacht DJs right now, and there's no need to be concerned with appointments because there's
          almost no schedule every day. Of course, the environment category is also fascinating. The more fun the
          environment on board, the more enjoyable the journey would be.</p>
        <a href="/graphic" class="btn btn-primary">Go for the photo</a>
      </div>
    </div>
  </div>
</div>
<div vid>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/x2HNUn5dluU?start=18" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>